@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
    transform: rotate(25deg);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Updated Formats */
@media (max-width: 991px) {
    main {
      text-align: center;
    }

    .title__text {
      font-size: 10vw;
    }
  }

.content section {
  margin-bottom: 25%;
}
/* Colors */

/* Title Section */

.title__text {
  animation: 1s ease-out 0s 1 slideInFromLeft;
  font-size: 4vw;
  }
  @media (max-width: 991px) {
      .title__text {
          font-size: 8vw;
      }
}

.title__column--image {
  display: flex;
  justify-content: center;
}

.notebook-image {
  max-width: 90%;
  height: auto;
  margin: auto 0;
  position: relative;
  transition: 0.5s;
  animation: 1s ease-out 0s 1 slideInFromTop;
  transform: rotate(25deg);
}

.get-started-button, .get-started-button:hover {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  margin: 20px 0;
}

/* Demonstration Section */

@media (min-width: 991px){
  .demo__image--arrow {
    animation: schwiggle 3s infinite;
    animation-direction: alternate-reverse;
  }
}

.demo__container {
  position: relative;
}
.demo__row {
  text-align: center;
}
.demo__image {
  margin: 5%;
  position: relative;
  transition: 0.5s;
}
.demo__image--schoology:hover, .demo__image--folder:hover {
  transform: translateY(-20px);
}
.demo__image--schoology {
    width: 10.5em;
    height: auto;
}
.demo__image--arrow {
  --fa-rotate-angle: 90deg;
}
.demo__text {
  padding: 0 25%;
}
/* Features Section */
.features {
  text-align: center;
}
.features__image {
  padding: 5%;
}
.features__text {
  padding: 0 30%;
}

@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}