:root {
    --base: #222831;
    --base-light: #393E46;
    --main-bg: #EEEEEE;
    --main-bg-emphasis: #c7c7c7;

    --PHONESCREEN: 411px;
    --TABLETSCREEN: 991px;
}

/* Page Margins and Padding */

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container-fluid {
    padding: 3% 10%;
    background-color: var(--main-bg);
    color: var(--base);
}

.row {
    margin: 0;
}

.col-lg-6 {
    padding: 0;
}

/* Text Formats */

.primary {
    font-size: 2.5vw;
    }
    @media (max-width: var(--TABLETSCREEN)) {
        .primary {
            font-size: 7vw;
        }
}
.secondary {
    font-size: 1.5vw;
    }
    @media (max-width: var(--TABLETSCREEN)) {
        .secondary {
            font-size: 5vw;
        }
}
.tertiary {
    font-size: 0.5vw;
    }
    @media (max-width: var(--TABLETSCREEN)) {
        .tertiary {
            font-size: 3vw;
        }
}


.header-text {
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    padding: 2% 0%;
}
.body-text {
    font-family: 'Lato', sans-serif;
}

/* Navbar */

.navbar {
    padding: 0 10%;
    background-color: var(--main-bg);
    border-bottom: 3px solid var(--base);
    }
    .navbar__logo, .navbar__logo:hover  {
        font-family: 'Josefin Sans', sans-serif, Arial;
        font-size: 2.5rem;
        text-decoration: none;
        color: #222831;
    }
    .navbar__logo::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 800;
        font-size: 36px;
        content: '\f038';
    }
    .nav-link, .nav-link:hover {
        font-family: 'Josefin Sans', sans-serif, Arial;
        font-size: 1rem;
        text-decoration: none;
        color: #222831;
    }
    .nav-item {
        margin: 0 2.5%;
}

.color-demonstration {
    color: #222831;
    color: #393E46;
    color: #EEEEEE;

    color: #007FFF; /* Blue */
    color: #009150; /* Green */ 
    color: #F9E076; /* Yellow */
    color: #D22B2B; /* Red */
    color: #FF9F00; /* Orange */
}